.weatherbg{
    background: url("./assets/weather.jpg");
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(145, 74, 4);
}

.wetherResultBox{
    margin: auto;
    width: 400px;
    height:250px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
img{
    height: 100px;
   
}